body {
    font-family: Open Sans, Arial, serif;
    background-color: #B4D9E1;
    margin: auto;
    overscroll-behavior-x: none;
    overscroll-behavior-y: auto;
}

.page-title {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title #title {
    font-size: 13pt;
    font-weight: bold;
}

.page-title #subtitle {
    display: none;
    font-size: 10pt;
}

.icons-tray {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    top: 50%;
}

.left {
    left: 0;
    transform: translate(20%, -50%);
}

.right {
    right: 0;
    transform: translate(-20%, -50%);
}

.icon {
    padding: 0 5px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-content: space-between;
    margin: 20px 0 0 0;
    align-items: stretch;
    justify-items: stretch;
}

.button {
    font-weight: bold;
    text-align: center;
    align-content: center;
    justify-items: center;
    width: 50%;
    background-color: rgb(255, 255, 254);
    padding: 10px 15px;
    margin: auto;
    border-radius: 5px;
}

.price-block {
    display: flex;
    flex-direction: row;
}

.input {
    font-family: Arial, serif;
    font-size: 12pt;
    background-color: rgb(255, 255, 255);
    width: 90%;
    padding: 15px 15px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.topBar {
    background-color: #348294;
    position: relative;
    height: 35px;
    width: 90%;
    font-family: Arial, serif;
    display: flex;
    margin: 5px auto;
    padding: 10px;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    user-select: none;
}

.wish {
    background-color: #348294;
    width: 90%;
    font-family: Arial, serif;
    display: flex;
    margin: 5px auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    user-select: none;
}

.form {
    /*background-color: #348294;*/
    height: 85vh;
    width: 90%;
    font-family: Arial, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.grid-view div {
}

.list-view {
    display: block;
}

.list-view div {
    width: 90%;
    margin: 10px auto;
}

.card {
    font-family: Arial, serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 150px;
    margin: 10px auto;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    user-select: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    animation: fadeIn 0.2s ease-in-out forwards;
    -webkit-animation: fadeIn 0.2s ease-in-out forwards;
}

.active {
    background-color: rgb(213, 235, 240);
}

.booked {
    background-color: rgb(52, 130, 148);
}

.card-title {

}

.price {
    font-family: Open Sans, Arial, serif;
    font-size: 18pt;
    display: block;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px;
    user-select: none;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5%;
    width: 90%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.link {
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 10px;
    border: 1px solid rgba(52, 130, 148, 0.4);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}