body {
    font-family: Open Sans, Arial, serif;
    background-color: var(--tg-theme-bg-color);
    margin: auto;
    overscroll-behavior-x: none;
    overscroll-behavior-y: auto;
}

.tabs {
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    padding: 5px 10px;
    transition: 0.3s;
    border-radius: 5px;
}

.tabs .tab.active {
    background-color: var(--tg-theme-bg-color);
}

.hidden {
    display: none;
}

.page-alert {
    color: var(--tg-theme-text-color);
    font-size: 12pt;
    height: 90vh;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    line-height: 40px;
    justify-content: center;
    padding: 20px;
    text-align: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

.page-title {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title #title {
    font-size: 13pt;
    font-weight: bold;
}

.page-title #subtitle {
    display: none;
    font-size: 10pt;
}

.icons-tray {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    top: 50%;
}

.left {
    left: 0;
    transform: translate(20%, -50%);
}

.right {
    right: 0;
    transform: translate(-20%, -50%);
}

.chat-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-photo img {
    width: 40px;
    border-radius: 100vw;
}

.icon {
    color: var(--tg-theme-text-color);
    padding: 0 5px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    cursor: pointer;
}

.price-block {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.input {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.input :is(input, textarea) {
    font-family: Arial, serif;
    display: flex;
    font-size: 12pt;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    padding: 12px 30px 12px 12px;
    margin: 12px 0;
    border: 2px solid rgba(52, 130, 148, 0.1);
    border-radius: 8px;
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.input span {
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #000;
    background-color: #eee;
    font: 13px monospace;
    cursor: pointer;
}

.input span.visible {
    display: flex;
}

.input span.hidden {
    display: none;
}


.input#wish-price {
    flex: 5;
    -webkit-flex: 5;
    margin-right: 5px;
}

.input#wish-currency {
    flex: 4;
    -webkit-flex: 4;
    margin-left: 5px;
}

.topBar {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    position: relative;
    height: 35px;
    width: 90%;
    font-family: Arial, serif;
    display: flex;
    margin: 5px auto;
    padding: 10px;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid rgba(52, 130, 148, 0.1);
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.wish {
    background-color: #348294;
    width: 90%;
    font-family: Arial, serif;
    display: flex;
    margin: 5px auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    user-select: none;
}

.wish-details {
    position: absolute;
    color: var(--tg-theme-text-color);
    top: 1vh;
    left: 2vw;
    width: 96vw;
    height: 98vh;
    padding: 0 20px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--tg-theme-secondary-bg-color);
    user-select: none;
}

.wish-details-header {
    margin: auto 0;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
}

.wish-details-header img {
    max-width: 40vw;
}

.wish-details-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.wish-details-image {
    border-radius: 10px;
}

.wish-details-info-title {
    margin-bottom: 10px;
    font-size: 14pt;
    font-weight: bold;
}

.wish-details-info-price {
    font-size: 12pt;
}

.wish-details-desc-label {
    margin-bottom: 10px;
    font-size: 10pt;
    color: rgba(150, 150, 150, 0.9);
}

.form {
    background-color: var(--tg-theme-secondary-bg-color);
    top: 1vh;
    left: 2vw;
    width: 96vw;
    height: 98vh;
    padding: 0 20px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Arial, serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
    margin: 5px auto;
    user-select: none;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
}

.grid-view div {
}

.list-view {
    display: block;
}

.list-view div {
    width: 90%;
    margin: 10px auto;
}

.card {
    font-family: Open Sans, Arial, serif;
    color: var(--tg-theme-text-color);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(52, 130, 148, 0.1);
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    animation: fadeIn 0.2s ease-in-out forwards;
    -webkit-animation: fadeIn 0.2s ease-in-out forwards;
    cursor: pointer;
}

.card:active {
    background-color: rgb(120, 120, 120);
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.user-photo {
}

.user-photo img {
    width: 80px;
    border-radius: 100vw;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.wish-info {
    display: flex;
    width: 85%;
    position: absolute;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: left;
    margin: auto;
}

.wish-image {
    display: flex;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 5%;
    right: 5%;
    transform: translateY(-30%);
    justify-content: center;
    align-items: center;
}

.wish-image img{
    border-radius: 10px;
    max-width: 95%;
    max-height: 90px;
    margin: auto;
}

.clickable {
    cursor: pointer;
}

.active {
    background-color: var(--tg-theme-secondary-bg-color);
}

.active .wish-title {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.active .price {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.active .wish-image {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.booked {
    background-color: var(--tg-theme-secondary-bg-color);
}

.booked .wish-title {
    transition: opacity 0.3s ease-in-out;
    text-decoration: line-through;
    opacity: 0.3;
}

.booked .price {
    transition: opacity 0.3s ease-in-out;
    text-decoration: line-through;
    opacity: 0.3;
}

.booked .wish-image {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.3;
}


.card-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: Open Sans, Arial, serif;
    font-weight: bold;
    font-size: 13pt;
}

.wish-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: Open Sans, Arial, serif;
    font-weight: bold;
    font-size: 13pt;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
}

.price {
    font-family: Open Sans, Arial, serif;
    font-size: 11pt;
    display: block;
    user-select: none;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

.wish-count {
    font-size: 9pt;
}

.bottom-bar {
    display: flex;
    position: absolute;
    flex-direction: row;
    bottom: 10%;
    width: 90%;
    height: 20%;
    transform: translateY(50%);
    justify-content: center;
    align-items: center;
}

.bottom-bar div span.material-symbols-outlined {
    font-size: 11pt;
}

.bottom-bar div span.button-label {
    margin-top: 5px;
    font-size: 9pt;
    font-weight: bold;
}

.link {
    background-color: var(--tg-theme-secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 10px;
    border: 1px solid rgba(52, 130, 148, 0.4);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.bookmark {
    background-color: var(--tg-theme-secondary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 10px;
    border: 1px solid rgba(52, 130, 148, 0.4);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}