<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Example WishMatch WebApp</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://havka.one/static/index.js"></script>
    <link rel="stylesheet" href="https://havka.one/static/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body onload="load_new_wish()">
<div class="card">
    <input id="title" data-index="1" type="text" class="input" placeholder="Title"/>
    <input id="link" data-index="2" type="text" inputmode="url" class="input" placeholder="Link"/>
    <input id="price" data-index="3" type="text" class="input" placeholder="Price"/>
    <div onclick="add_wish()" class="button">Add</div>
</div>
</body>
</html>
